@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LINESeedSansTH_W_Rg';
    src: url('../fonts/LINESeedSansTH_W_Rg.woff');
}

* {
    font-family: LINESeedSansTH_W_Rg;
}